.main{
    height: 250px;
    
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(236, 230, 222);
  }
  .child
  {
     
     width: 300px;
    text-align: center;
    padding-top: 24px;
  
  }
  i{
    font-size: xx-large;
    color: red;
  }
  