 
.boss{
    display: flex;
    background-color: rgb(215, 243, 234);
      
}
.parent1{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    width: 100%;
    padding: 20px;
    height: 200px;
    justify-content: space-around;
    
}
.parent2{
    width: 40%;
}
img{
    width: 100%;
   
}
 
 